.col * {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.placeholder {
    background-color: #eee;
}

#loading {
    width: 400px;
    position: fixed;
    bottom: 0px;
    left: calc(50% - 200px);
}

#modalImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
